<h2>Edit Job</h2>
<%= form_for @job do |f| %>
Description: <%= f.text_field :description %><br>
Origin: <%= f.text_field :origin %><br>
Destination: <%= f.text_field :destination %><br>
Cost: <%= f.text_field :cost %><br>
Size :<%= f.text_field :size %><br>
<%= f.select :boat_id, options_from_collection_for_select(@boats, "id", "name") %><br>
<%= f.submit "update job" %>
<% end %>
