<% @jobs.each_with_index do |j, index| %>
<h2><a href="/jobs/<%=j.id%>">Job <%= index+1 %></h2></a>
Description:<%= j.description %><br>
Origin: <%= j.origin %><Br>
Destination: <%= j.destination %><br>
Cost: $<%= j.cost %><br>
Size: <%= j.size %><br>
<% if j.boat_id == nil %>
<% else %>
Boat: <%= Boat.find(j.boat_id).name %>
<% end %>
<hr>
<% end %>
