<h2>Create Boat</h2>

<%=form_for @boat do |f|%>
	<%if @boat.errors.any?%>
		<h2>Errors:</h2>
		<%@boat.errors.full_messages.each do |message|%>
		<li><%=message%></li></br>
	<%end%>
<%end%>

Name: <%=f.text_field :name%><br>
Load: <%=f.text_field :max_load%><br>
Current Location: <%=f.text_field :location%><br>
<%= f.file_field :image %>

	
	
	
<%= f.submit%>

<% end %>

