<h1>Boats#new</h1>
<p>Find me in app/views/boats/new.html.erb</p>

<%=form_for @boat do |f|%>
Name: <%=f.text_field :name%>
Load: <%=f.text_field :max_load%>
Current Location: <%=f.text_field :location%>
<%= f.submit%>

<%end%>
