<!DOCTYPE html>
<html>
  <head>
    <title>Shipped</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Lato|Lobster|Lobster+Two|Roboto" rel="stylesheet">
  </head>

  <body>
<nav>
  <% if !signed_in? %>
  <%=link_to "home", root_path %> •
  <%= link_to "sign in", new_user_session_path %> •
  <%=link_to "sign up", new_user_registration_path %>
  <% end %>

  <% if signed_in? %>
  <%=link_to "home", root_path %> •
  <%= link_to "create boat", new_boat_path %> •
  <%= link_to "boat list", boats_path %> •
  <%= link_to "create job", new_job_path %> •
  <%= link_to "jobs list", jobs_path %> •
  <%= link_to "sign out",destroy_user_session_path, method: :delete %>
  </nav>

  <div class = "currentuser">Current User: <a href='/profile/<%=current_user.id %>'><%= current_user.email %></a></div>
  <% end %>





    <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
  <div class="content">  <%= yield %></div>
  </body>
</html>
